@charset "utf-8";


/*GameStart*/
#GameStart{background-color: #040435}
#GameStart .bg{
    position: absolute; left: 66px; top: 290px;
    width: 569px; height: 560px;
}

/*GameDoor*/
#GameDoor .bgs{
    position: absolute; left: 0px; top: 0px;
    width: 700px; height: 1040px;
}
#gameDoorCav{
    position: absolute; left: 0px; top: 0px;
    z-index: 9;
}

/*Game*/
#Game .msg{
    position: absolute; left: 0px; top: 0px;
    width: 50px; height: 50px;
    z-index: 9;
}
#gamecav{
    position: absolute; left: 0px; top: 0px;
}

#Game .box{
    position: absolute; left: 0px; top: 270px;
    width: 700px; height: 600px;
    z-index: 9; display: none;
}
#Game .btns{
    position: absolute; left: 0px; top: 270px;
    width: 700px; height: 600px;
    z-index: 99; display: none;
}

#Game .btns .btn1{
    position: absolute; left: 166px; top: 405px;
    width: 179px; height: 98px;
}
#Game .btns .btn2{
    position: absolute; left: 350px; top: 405px;
    width: 179px; height: 98px;
}
#Game .btns .w{
    position: absolute; left: 236px; top: 248px;
    width: 236px; height: 75px; line-height: 75px;
    text-align: center;

    font-family: LiquidCrystal; letter-spacing:5px;
    color: #E95B75; font-size: 45px;
    text-shadow:0 0 5px #E95B75,
    -0 -0 5px #E95B75;
}

#endCav{
    position: absolute; left: -1700px; top: 0px;
}
#Photo{
    position: absolute; left: 0px; top: 0px;
    width: 700px; height: 1140px;
    z-index: 10;
}

#End .link{
    position: absolute; left: 277px; top: 763px;
    width: 150px; height: 37px;
    z-index: 99999;
}